{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

  <head>
    <meta charset="UTF-8">
    <title>منظومة الزوار</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
      button {
        color: #fff;
        background-color: #4376ff;
      }
    </style>
  </head>

  <body>
    <h5 id="ipc">{{local_ip}}</h5>
    <h1>منظومة تسجيل الزوار</h1>

    <div class="inputs-holder">
      <input type="text" id="name" placeholder="الاسم">
      <input type="text" id="rank" placeholder="الرتبه" list="ranks">
      <datalist id="ranks">
        {% for i in ranks %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </datalist>

      <input type="text" id="code" placeholder="الكود">
      <input type="text" id="branch" placeholder="الفرع" list="branches">
      <datalist id="branches">
        {% for i in branches %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </datalist>
      <button onclick="sendRequest()">إضافة</button>
    </div>

    <div class="inputs-holder">
      <input type="search" id="search" placeholder="بحث عن كود..." list="codes">
      <datalist id="codes">
        {% for user in users %}
        <option value="{{user.code}}">{{user.code}}</option>
        {% endfor %}
      </datalist>
      <button onclick="search()">بحث</button>
      <button onclick="reset()">اعادة العساكر</button>
    </div>
    <p id="error-msg"></p>

    <table>
      <thead>
        <tr>
          <th>الكود</th>
          <th>الاسم</th>
          <th>الرتبه</th>
          <th>الفرع</th>
          <th>الرد</th>
          <th>عمليات</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {% for user in users %}
        <tr data-id="{{user.code}}">
          <td>{{ user.code }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.rank }}</td>
          <td>{{ user.branch }}</td>

          {% if user.request.accepted == 'انتظار' %}
          <td style="background-color: yellow; color: black;">
            {{ user.request.accepted }}
          </td>

          {% elif user.request.accepted == 'موافق' %}
          <td style="background-color: green;">
            {{ user.request.accepted }}
          </td>

          {% elif user.request.accepted == 'تم الرفض' %}
          <td style="background-color: red;">
            {{ user.request.accepted }}
          </td>

          {% else %}
          <td style="background-color: red;">
            لا يوجد طلب
          </td>

          {% endif %}
          <td class="operations">
            <button class="send-pre-req" onclick="sendPreRequest('{{user.code}}');">ارسال طلب</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script src="{% static 'js/home.js' %}"></script>
  </body>

</html>